<h3>Yeni Ürün Ekle</h3>

<form (ngSubmit)="add(productAddForm)" #productAddForm="ngForm">
    <div class="form-group">
        <input type="text" class="form-control" #name="ngModel" placeholder="Ürün Adı" [(ngModel)]="model.name" name="name" id="name" required >
        <div *ngIf="name.invalid&&name.dirty" class="alert alert-danger">Ürün ismi gereklidir.</div>
        <!--
            <div *ngIf="name.invalid&&name.dirty"></div>
            <div *ngIf="name.invalid&&name.touched"></div>
            <div *ngIf="name.invalid&&name.pristine"></div>
        -->
    </div>
    <div class="form-group">
        <input type="text" class="form-control" #description="ngModel" placeholder="Ürün açıklaması" [(ngModel)]="model.description" name="description" id="description" required >
        <div *ngIf="description.invalid&&description.dirty" class="alert alert-danger">Ürün açıklaması gereklidir.</div>
        
    </div>
    <div class="form-group">
        <input type="text" class="form-control" #img="ngModel" placeholder="Ürün resmi" [(ngModel)]="model.img" name="img" id="img" required >
        <div *ngIf="img.invalid&&img.dirty" class="alert alert-danger">Ürün resmi gereklidir.</div>
        
    </div>
    <div class="form-group">
        <input type="text" class="form-control" #price="ngModel" placeholder="Ürün fiyatı" [(ngModel)]="model.price" name="price" id="price" required >
        <div *ngIf="price.invalid&&price.dirty" class="alert alert-danger">Ürün fiyatı gereklidir.</div>
        
    </div>
    <div class="form-group">
        <select class="form-control" name="categoryId" id="categoryId" #categoryId="ngModel" required [(ngModel)]="model.categoryId">
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
        </select>
        <div *ngIf="categoryId.invalid&&categoryId.touched" class="alert alert-danger">Ürün kategorisi gereklidir.</div>
        
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="productAddForm.invalid">Kaydet</button>
</form> 